# 데이터 준비

### 단순하게 파일을 불러와서 사용

In [20]:
import pandas as pd
import torch

In [21]:
data = pd.read_csv("titanic.csv")
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [22]:
x = torch.from_numpy(data['pclass'].values).unsqueeze(dim=1).float()
y = torch.from_numpy(data['survived'].values).unsqueeze(dim=1).float()

In [23]:
print(x)
print("---------------")
print(y)

tensor([[1.],
        [1.],
        [1.],
        ...,
        [3.],
        [3.],
        [nan]])
---------------
tensor([[1.],
        [1.],
        [0.],
        ...,
        [0.],
        [0.],
        [nan]])

### 커스텀 데이터셋을 만들어서 사용

- 데이터를 한번에 불러와서 훈련 시키면 시간과 비용 측면에서 효율적이지 않습니다.
- 조금씩 나누어 불러서 사용하는 방식이 커스텀 데이터셋

In [25]:
import pandas as pd
import torch
from torch.utils.data import Dataset
from torch.utils.data import DataLoader

In [26]:

class CustomDataset(Dataset):  #torch.utils.data.Dataset
    def __init__(self, csv_filie): #필요한 변수를 선언하고 데이터셋의 전처리를 해 주는 함수
        self.lable = pd.read_csv(csv_filie)
    def __len__(self):  # 데이터셋의 길이 즉, 총 샘플의 수를 가져오는 함수
        return len(self.lable)
    def __getitem__(self, index):   #데이터셋에서 특정 데이터를 가져오는 함수(index번째 데이터를 반환하는 함수, 반환되는 값은 반드시 텐서의 형태를 취해야함)
        sample = torch.tnsor(self.lale.iloc[index, 0]).int()
        label = torch.tensor(self.lale.iloc[index, 1]).int()

In [27]:
tensor_dataset = CustomDataset("titanic.csv")
dataset = DataLoader(tensor_dataset, batch_size=4, shuffle=True)

### 파이토치에서 제공하는 데이터셋 사용

In [31]:
import torchvision.transforms as transforms
from torchvision.datasets import MNIST
import requests

In [33]:
mnist_transform = transforms.Compose([transforms.ToTensor(),
                                      transforms.Normalize((0.5,), (1.0,))])    #평균이 0.5 / 표준편차가 1.0이 되도록 데이터의 분포를 조정

In [34]:
download_root = "./MNIST_DATASET"

In [35]:
train_dataset = MNIST(download_root, transform=mnist_transform, train=True, download=True)
valid_dataset = MNIST(download_root, transform=mnist_transform, train=False, download=True)
train_dataset = MNIST(download_root, transform=mnist_transform, train=False, download=True)

Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to ./MNIST_DATASET\MNIST\raw\train-images-idx3-ubyte.gz

100.0%

Extracting ./MNIST_DATASET\MNIST\raw\train-images-idx3-ubyte.gz to ./MNIST_DATASET\MNIST\raw

Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz to ./MNIST_DATASET\MNIST\raw\train-labels-idx1-ubyte.gz

102.8%

Extracting ./MNIST_DATASET\MNIST\raw\train-labels-idx1-ubyte.gz to ./MNIST_DATASET\MNIST\raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz to ./MNIST_DATASET\MNIST\raw\t10k-images-idx3-ubyte.gz

100.0%

Extracting ./MNIST_DATASET\MNIST\raw\t10k-images-idx3-ubyte.gz to ./MNIST_DATASET\MNIST\raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz to ./MNIST_DATASET\MNIST\raw\t10k-labels-idx1-ubyte.gz

112.7%

Extracting ./MNIST_DATASET\MNIST\raw\t10k-labels-idx1-ubyte.gz to ./MNIST_DATASET\MNIST\raw

c:\Users\mujin\anaconda3\envs\torch\lib\site-packages\torchvision\datasets\mnist.py:498: UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable tensors. This means you can write to the underlying (supposedly non-writeable) NumPy array using the tensor. You may want to copy the array to protect its data or make it writeable before converting it to a tensor. This type of warning will be suppressed for the rest of this program. (Triggered internally at  ..\torch\csrc\utils\tensor_numpy.cpp:180.)
  return torch.from_numpy(parsed.astype(m[2], copy=False)).view(*s)